#atividades{
	/*margin: 20px;*/
}

#minhas-atividades td{
	padding: 6px 10px;

}

#minhas-atividades tbody tr:hover td{

	/*outline-style: solid;
	outline-width: 2px;
	outline-color: #ddd;*/
	cursor: pointer;
	background-color: #c8dceb;
}

#minhas-atividades td.atividade{
	background-color: #ededed;
	cursor: pointer;
}

#minhas-atividades td.atividade img{
	width: 17px;
	margin-right: 5px;
	margin-top: 2px;

}

#minhas-atividades .atividade .title{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

#minhas-atividades thead td{
	text-transform: uppercase;
	font-size: 14px;	
	color: #999;
	/*font-weight: bold;*/
}

#minhas-atividades .quando-onde{
	background-color: #f7f7f7;
}

#minhas-atividades .detalhes{
	background-color: #ebebeb;
}
#minhas-atividades .deletar{
	background-color: #efa8a9;
}
#minhas-atividades .deletar:hover{
	background-color: #e6787a !important;
}

#minhas-atividades .editar{
	background-color: #bed0e9;
}
#minhas-atividades .editar:hover{
	background-color: #9cb3d2 !important;
}

#atividades-content	.map-canvas {
	position: absolute !important;
	bottom: 15px;
	top: 215px;
	right: 20px;
	left: 20px;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

#form-criar-atividade #map-canvas, #form-editar-atividade #map-canvas{
	width: 400px;
	height: 200px;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #efefef;
}

#container-btn-criar-atividade {
	background-color: #dedede;
	padding: 20px;

}