

#mapa-off header{
	height: 70px;
	width: 100%;
	vertical-align: top;
	background-image: url("../images/bg-footer-header.jpg");
}

#mapa-off form[name="login"] a{
	font-size: 12px;
	margin-left: 165px;
	color: #dedede;
}

#mapa-off header .logo{
	float:left;
	margin: 10px 30px;
	width: 130px;
}

#mapa-off form[name="login"]{
	position: absolute;
	right: 10px;
	margin: 15px;
}



#mapa-off footer{
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#mapa-off footer img.logo{
	margin:4px 10px;
	float: left;
}

#mapa-off footer a{
	font-size: 10px;
	margin: 15px;
	float: left;
}

#mapa-off #map-canvas{
	position: absolute !important;
	bottom: 40px;
	top: 70px;
	right: 0;
	left: 0;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
}

input[name="submit_login"]{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4385bd;
	border: none;
	outline: none;
	color: #fff;
	padding: 3px 4px;
	cursor: pointer;
}

#mapa-off #content-temp{
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 40px;
	background-color: rgba(255, 255, 255,0.8);
	z-index: 2;
}