#search-result .pessoa-item{
	width: 250px;
	background-color: #ececec;
	margin: 15px;
	cursor: pointer;
}
#search-result .pessoa-item:hover{
	background-color: #efefef;
}
#search-result .pessoa-item *{
	float: left;
}

#search-result .pessoa-item div{
	padding: 10px;
}

#search-result .pessoa-item {
	float: left;
}