#content-temp a.x{
	position: absolute;
	top: 25px;
	right: 20px;
	width: 80px;
	height: 80px;
	background-image: url('../images/x.png');
	background-repeat: no-repeat;
	background-position: center;
}
#content-temp a.x:hover{
	background-image: url('../images/xhover.png');
}
