#search-result, #search-result-com-mapa h2{
	margin-bottom: 2px;
}

/*////////*/
/* PESSOA */
/*////////*/
#search-result{
	position: absolute;
	padding: 10px;
}

#search-result .pessoa-item{
	width: 250px;
	background-color: #dfdfdf;
	margin: 15px;
	cursor: pointer;
}
#search-result .pessoa-item:hover{
	background-color: #efefef;
}
#search-result .pessoa-item *{
	float: left;
}

#search-result .pessoa-item div{
	padding: 10px;
}

#search-result .pessoa-item {
	float: left;
}

/*////////*/
/* Atividades */
/*////////*/
#search-result-com-mapa .atividade-item{
	background-color: #ececec;
	margin: 5px;
	padding: 10px;
	cursor: pointer;
	width: 93%;
}
#search-result-com-mapa .atividade-item .name{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	height: 35px;
}
#search-result-com-mapa .atividade-item:hover{
	background-color: #ddd;
}
#search-result-com-mapa .atividade-item *{
	float: left;
}

#search-result-com-mapa .atividade-item div{
	padding: 10px;
}

#search-result-com-mapa .atividade-item {
	float: left;
}

.topinfo{
	width: 80%;
}

#search-result-com-mapa{
	position: absolute;
	top: 0;
	right: 70%;
	bottom: 40px;
	left: 0px;
	padding: 10px;
}

#search-result-com-mapa .distancia{
	background-color: #dfdfdf;
	position: absolute;
	right: 25px;
	margin-top: -8px;
}

#search-result-com-mapa .distancia:hover{
	background-color: #cecece;
}

#content-temp #map-canvas-atividades{
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 40px;
	left: 30%;
}